<div>
  <strong>Name</strong>: <%= contact.name %>
  <ul>
    <li>
      <p><strong>Position</strong>: <%= contact.position %></p>
    </li>
    <li>
      <p><strong>Email</strong>: <%= contact.email %></p>
    </ul>
</div>
