<h1>Jobs by Interest</h1>

<table>
  <tr>
    <th>Level of Interest</th>
    <th>Title</th>
    <th>Company</th>
  </tr>
  <% @jobs.reverse.each do |job| %>
    <tr>
      <td>
        <%= job.level_of_interest %>
      </td>
      <td>
        <%= job.title %>
      </td>
      <td>
        <%= job.company.name %>
      </td>
    </tr>
  <% end %>
</table>

</br></br>
<%= @jobs.length %>
