body {
  font-family: 'Open Sans', sans-serif;
  color: teal;
}

h1 {
  text-align: center;
  border: 3px dotted;
  border-color: purple;
  text-decoration: line-through;
  color: black;
}

nav {
  text-align: right;
}

.whole {
  display: flex;
  justify-content: center;
}

.part {
  padding: 20px;
}

table {
  display: flex;
  justify-content: center;
}

.company-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
